%div{"data-role" => "page", "class" => "page-index"}
  %div{"data-role" => "content", "class" => "page-content"}
    #map-canvas{"class" => "map-canvas"}
  %div{"data-role" => "footer", "class" => "page-footer"}
    #main-nav{"class" => "main-nav", "data-role" => "navbar"}
      %ul
        %li
          = link_to "My Location", "#", "id" => "my-location", "data-icon" => "location"
        %li
          = link_to "Deliveries", deliveries_path, "id" => "deliveries", "data-icon" => "deliveries"
        %li
          = link_to "", "#", "id" => "work-state", "data-icon" => "work-state"
        %li
          = link_to "Radar", "#", "id" => "radar", "data-icon" => "radar"
        %li
          = link_to "Settings", edit_settings_path, "id" => "settings", "data-icon" => "settings"

= javascript_include_tag "index"
:javascript
  $(".page-index").live("pagecreate", function() {
    TIRAMIZOO.main.init({courierInfo:JSON.parse('#{@courier_info.to_json}')});
    TIRAMIZOO.index.init({defaultMenuItems: $("#main-nav ul:first")});
  });