%div{"data-role" => "page", "class" => "page-index"}
  %div{"data-role" => "header"}
    #main-nav{"class" => "ui-page-navbar", "data-role" => "navbar"}
      %ul
        %li
          = link_to "My Location", "#", "id" => "location", "data-icon" => "location"
        %li
          = link_to "Deliveries", deliveries_path, "data-icon" => "deliveries"
        %li
          = link_to "", "#", "id" => "state", "data-icon" => "state"
        %li
          = link_to "Radar", "#", "id" => "radar", "data-icon" => "radar"
        %li
          = link_to "Settings", edit_settings_path, "data-icon" => "settings"

  %div{"data-role" => "content", "class" => "page-content"}
    #map-canvas{"class" => "map-canvas"}

= javascript_include_tag "index"
:javascript
  $(".page-index").live("pagecreate", function() {
    TIRAMIZOO.navigation.setState('#{@courier_state["work_state"]}');
  });