!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title= "Tiramizoo - " + (yield(:title) || "Home")
      = stylesheet_link_tag "jquery.mobile-1.0a3pre", "application"
      = javascript_include_tag "http://pubnub-prod.appspot.com/js-api?pub-key=demo&sub-key=demo&origin=pubsub.pubnub.com&ssl=&java=&devmode=1"
      = javascript_include_tag "jquery/jquery-1.4.4.min", "rails_mobile.js", "application", "jquery/jquery.mobile-1.0a3pre"
      = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true"

      = yield :meta
      = csrf_meta_tag
    %body
      %div{"data-role" => "page", "class" => "page"}
        %div{"data-role" => "header", "data-position" => "inline"}
          = yield :header
        %div{"data-role" => "content", "class" => "page-content"}
          = yield
        %div{"data-role" => "footer", "data-position" => "fixed"}
          = yield :footer