!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title= "Tiramizoo - " + (yield(:title) || "Home")
      = stylesheet_link_tag "jquery.mobile-1.0a2", "application", :cache => true
      = javascript_include_tag "http://pubnub-prod.appspot.com/js-api?pub-key=demo&sub-key=demo&origin=pubsub.pubnub.com&ssl=&java=&devmode=1"
      = javascript_include_tag "jquery/jquery-1.4.4.min", "rails", "application", "jquery/jquery.mobile-1.0a2.min", :cache => true
      = yield :meta
      = csrf_meta_tag
    %body
      %div{"data-role" => "page", "class" => "page"}
        %div{"data-role" => "header", "data-position" => "inline"}
          = yield :header
        %div{"data-role" => "content", "class" => "page-content"}
          = yield
        %div{"data-role" => "footer"}
          = yield :footer